fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
numpy==1.26.2
opencv-python==4.8.1.78
# Use pre-built dlib wheel (no CMake needed)
dlib-binary==19.22.0
face-recognition-models==0.3.0
python-jose==3.3.0
pydantic==1.10.13
beanie==1.21.0
motor==3.1.1
pymongo==4.3.3
pandas
python-dotenv
streamlit
requests
httpx
plotly
pillow 